.experience_container {
	display: block;
	padding-top: 8rem;
}

.experience_container h2 {
	width: 100%;
	font-size: 1.4rem;
	margin-bottom: 2rem;
	font-weight: 600;
	position: relative;
	font-family: "Barlow Semi Condensed", sans-seri;
}

.experience_container hr {
	width: 6rem;
	position: absolute;
	bottom: -1.2rem;
	color: var(--accent-color);
	background-color: var(--accent-color);
	height: 1px;
	border: none;
}

.experience_card_container {
	overflow-y: auto;
	height: 74vh;
	display: block;
	width: 100%;
}

.experience_card_container::-webkit-scrollbar {
	display: none;
}

.experience_card {
	width: 100%;
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
	padding: 1rem 0rem;
}

.experience_card_date {
	display: flex;
	padding: 4rem 2rem;
	flex-direction: column;
}

.experience_card_date p {
	margin-bottom: 0.4rem;
	width: 100%;
	font-size: 2rem;
	font-weight: 400;
	font-family: "Bagoss", sans-seri;
}

.experience_card_skills {
	display: block;
	margin-bottom: 0.2rem;
	width: 100%;
}

.experience_card_skills strong {
	font-size: 0.8rem;
	margin: 0.2rem;
	color: #9829f3;
	font-weight: 300;
	font-family: "Barlow Semi Condensed", sans-seri;
}

.experience_card_position {
	font-size: 1.6rem;
	margin-top: 0.6rem;
	font-weight: 800;
	font-family: "Bagoss", sans-seri;
	margin-bottom: 1rem;
}

.experience_card_company {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.experience_card_company p {
	font-size: 0.9rem;
	font-weight: 300;
	color: white;
	display: block;
	margin: 0;
	font-family: "Barlow Semi Condensed", sans-seri;
}

.experience_card_company img {
	width: 12px;
	height: 12px;
}

.experience_card_description {
	font-size: 1rem;
	line-height: 1.7rem;
	font-family: "Bagoss", sans-seri;
	font-weight: 400;
	margin: 0.4rem 0;
}

.experience_card_description small {
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	background-color: var(--accent-color);
	display: inline-block;
	margin: 0 0.4rem;
}

@media screen and (max-width: 460px) {
	.experience_card_date {
		display: none;
	}
}
