.hero__container {
	display: block;
}

.profile_greeting {
	font-family: "Barlow Semi Condensed", sans-seri;
	font-size: 1.2rem;
	color: var(--text-color);
	font-weight: 300;
}

.profile_name {
	font-size: 4rem;
	color: var(--text-color);
	margin-bottom: 1rem;
	font-weight: 600;
	font-family: "Barlow Semi Condensed", sans-seri;
}

.profile_position {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 4rem;
	font-family: "Barlow Semi Condensed", sans-seri;
}

.profile_summary {
	font-size: 1.4rem;
	font-weight: 400;
	max-width: 520px;
	line-height: 2rem;
	position: relative;
	font-family: "Barlow Semi Condensed", sans-seri;
}
/* font-family: "Bagoss", sans-seri; */

.profile_image {
	width: 320px;
	height: 100%;
}

.quote_start {
	position: absolute;
	top: -1.4rem;
	width: 1rem;
	left: -1.4rem;
}

.quote_end {
	position: absolute;
	width: 1rem;
	bottom: -1rem;
	left: 4rem;
	transform: rotate(180deg);
}

/* @media screen and (max-width: 768px) { */
/* .hero__container { */
/* flex-direction: column; */
/* gap: 2rem; */
/* } */
/* .profile { */
/* width: 100%; */
/* } */
/* .profile_image { */
/* width: 100%; */
/* } */
/* .profile_summary { */
/* max-width: 100%; */
/* } */
/* } */

.social {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	top: 0;
	margin-left: auto;
	position: sticky;
	width: 12rem;
	z-index: 9999;
}

.social a {
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 300;
	width: 2rem;
	height: 2rem;
	display: flex;
}

@media screen and (max-width: 960px) {
	.hero__container {
		flex-direction: column-reverse;
		gap: 2rem;
	}

	.profile_image {
		margin: auto;
		width: 24vw;
	}

	.profile {
		width: 100%;
	}
}
