.projects__container h2 {
	font-size: 1.4rem;
	font-weight: 600;
	margin: 8rem auto 3.2rem;
	font-family: "Barlow Semi Condensed", sans-seri;
}
.projects__container {
	height: 100vh;
}
/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--accent-color) 0px 0px 0px;
	border-radius: 0.4rem;
	transition: box-shadow 0.3s ease-out;
	position: relative;
	cursor: pointer;
	border: 2px solid var(--accent-color);
	overflow: hidden;
}

.grid-wrapper > div:hover {
	box-shadow: var(--accent-color) 4px 3px 0px;
}

.grid-wrapper > div > h4 {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	background-color: var(--primary-color);
	opacity: 0.8;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
	font-family: "Bagoss", sans-seri;
	margin: 0;
}

.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	width: 100%;
	overflow-y: scroll;
	height: 74vh;
}

.grid-wrapper::-webkit-scrollbar {
	display: none;
}

.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

@media screen and (max-width: 968px) {
	.grid-wrapper .tall {
		grid-row: span 1;
	}
}

@media screen and (max-width: 468px) {
	.grid-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	.grid-wrapper > div > img {
		height: 140px;
	}
}

.grid-wrapper > div > img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	object-fit: cover;
}

.grid-wrapper > div > strong {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem 2rem;
	background-color: var(--primary-color);
}

.grid-wrapper > div > img:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	object-fit: contain;
}

.grid-wrapper .more-wide {
	grid-column: span 3;
}
